.el-dialog {
    --el-dialog-content-font-size: var(--el-font-size-base);
}

.el-pagination {
    --el-pagination-font-size: var(--el-font-size-base);
}

.el-form-item--default {
    --el-form-label-font-size: var(--el-font-size-base) !important;
    --font-size: var(--el-font-size-base) !important;
}

.el-checkbox {
    --el-checkbox-font-size: var(--el-font-size-base);
}

.el-breadcrumb,
.el-table {
    font-size: var(--el-font-size-base);
}
