* {
    box-sizing: border-box;
}

html,
body,
#app {
    @apply m-0px h-full text-12px;
}

html {
    background-color: #f6f9f8;
}

html.dark {
    background-color: var(--el-bg-color-page);
}

#nprogress .bar {
    background-color: var(--el-color-primary) !important;
}

:root {
    --el-font-size-base: 12px;
    --el-font-size-medium: 14px;
    --el-font-size-large: 16px;
    --dark1: #343a41;
    --el-border-color: #e9ebf3;
}

.el-dialog {
    --el-dialog-content-font-size: var(--el-font-size-base);
}

.el-pagination {
    --el-pagination-font-size: var(--el-font-size-base);
}

.el-form-item--default {
    --el-form-label-font-size: var(--el-font-size-base) !important;
    --font-size: var(--el-font-size-base) !important;
}

.el-breadcrumb,
.el-table {
    font-size: var(--el-font-size-base);
}
